body {
  font-family: Arial, sans-serif;
}
.overwiev {
  margin-bottom: 20px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 35px;
  border: 1px solid gray;
  border-radius: 8px;
}

h1 {
  color: rgb(135, 126, 126);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
}
.weather-temp img {
  margin-right: 25px;
  height: 80px;
  weight: 80px;
}
.weather-temp strong {
  color: black;
  font-size: 35px;
  line-height: 1;
  font-weight: 400;
}
.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -5px;
}
